@model NEWHOUSE_REBUILD_2022.Models.DUAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DUAN</h4>
    <hr />
    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.NgayThang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinh)
        </dd>
        <dd>
           TÁC GIẢ
            @foreach (var item in ViewBag.hinhanh)
            {

                @item.TuaDe
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDDuan }) |
    @Html.ActionLink("Back to List", "Index")
</p>
