@model NEWHOUSE_REBUILD_2022.Models.DUAN

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/ContentAdmin/ckeditor/ckeditor.js"></script>
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid p-md-4">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">DỰ ÁN</h1>
            </div>

            <div class="">
                @using (Html.BeginForm("Edit", "AdminDUANs", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IDDuan)
                    @Html.ValidationSummary(true)

                    <div class="col-xl-12 col-md-12 mb-12">
                        <div class="card  shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-12 p-4">


                                        <style>
                                            .HinhAnhDuAn {
                                                height: 10vh;
                                                width: auto;
                                            }

                                            .HinhAnhFeature {
                                                height: 20vh;
                                                width: auto;
                                            }
                                        </style>

                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Tựa Đề
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">

                                            @Html.EditorFor(model => model.TuaDe, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.TuaDe, "", new { @class = "text-danger" })
                                        </div>
                                        <Br />
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Tựa Đề Phụ
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">

                                            @Html.EditorFor(model => model.TuaDePhu, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.TuaDePhu, "", new { @class = "text-danger" })
                                        </div>
                                        <Br />

                                        <br />
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Hình ảnh giới thiệu(bắt buộc thêm hình ảnh dưới 1mb)
                                        </div>
                                        <div class="HinhAnhFeature">

                                            <input type="file" id="uploadhinh" name="uploadhinh" accept="image/*" />

                                        </div>
                                        <br />
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Loại dự án
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">

                                            @Html.EditorFor(model => model.TuaDePhu, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.TuaDePhu, "", new { @class = "text-danger" })
                                        </div>
                                        <Br />

                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Nội dung chính
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">

                                            @Html.TextAreaFor(model => model.NoiDung, new { @id = "FullDescription", @class = "form-control", @rows = "100" })
                                            <script>
                                                CKEDITOR.replace("FullDescription");
                                            </script>
                                        </div>
                                        <Br />

                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Ngày làm
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">

                                            @Html.EditorFor(model => model.TuaDePhu, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                            @Html.ValidationMessageFor(model => model.TuaDePhu, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col mr-12 p-4" style="display:flex; justify-content: flex-end;">
                                            <button type="submit" class="btn button-crud" value="Save">
                                                Tạo
                                            </button>
                                            <a class="btn btn-back" href="@Url.Action("Index")">
                                                Trở về
                                            </a>
                                        </div>
                                    </div>





                                </div>
                            </div>
                        </div>


                        <!-- Tổng dự án Card Example -->



                    </div>


                }
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <!-- End of Footer -->

    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}