@model IEnumerable<NEWHOUSE_REBUILD_2022.Models.CongNghe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
 

<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid" style="margin-top:4rem">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">CÔNG NGHỆ</h1>
            <p class="mb-4"></p>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                   
                    @foreach (var item in Model)
                    {



                        <a href="@Url.Action("Edit", new { id = item.ID })" class="btn btn-warning btn-circle">
                            <i class="far fa-edit"></i>
                        </a>


                    }
                </div>
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Mục</th>
                                    <th>Tựa đề</th>


                                    <th>Nội dung</th>
                                    <th>Hình</th>

                                </tr>
                            </thead>
                            
                            <tfoot>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th style="color:darkblue">Tựa đề chính và trích dẫn</th>
                                        <th>@item.TuaDeChinh</th>

                                        <th>@Html.Raw(@item.TrichDan)</th>



                                    </tr>
                                    <tr>
                                        <th style="color:darkblue">Mục 1.1</th>
                                        <th>@item.TuaDe11</th>

                                        <th>@Html.Raw(@item.NoiDung11)</th>



                                    </tr>
                                    <tr>
                                        <th style="color:darkblue">Mục 1.2</th>
                                        <th>@item.TuaDe12</th>

                                        <th>@Html.Raw(@item.NoiDung12)</th>
                                        <th style="text-align:center"><img src="~/Content/img/congnghe/@item.Hinh1" style="width:100px;height:auto" /> </th>
                                    </tr>

                                    <tr>
                                        <th style="color:darkblue">Mục 2</th>
                                        <th>@item.TuaDe2</th>

                                        <th>@Html.Raw(@item.NoiDung2)</th>
                                        <th style="text-align:center"><img src="~/Content/img/congnghe/@item.Hinh2" style="width:100px;height:auto" /> </th>
                                    </tr>

                                }
                                
                            </tfoot>




                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <!--<footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2019</span>
            </div>
        </div>
    </footer>-->
    <!-- End of Footer -->

</div>