@model IEnumerable<NEWHOUSE_REBUILD_2022.Models.DoiTac>

@{
    Layout = null;
}

<section id="partner">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title txt-xs-center">
                    <h3 class="upper">Đối Tác</span></h3>
                    <hr>

                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3 col-sm-6">
                            <div class="shop-product">
                                <div class="product-thumb">
                                    <a href="@item.Link">
                                        <img src="~/Content/images/Parnert/@item.Hinh" alt="">
                                    </a>
                                    <div class="product-overlay">
                                        <a href="@item.Link" class="btn btn-color-out btn-sm">Xem Thêm</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h4 class="upper"><a href="@item.Link">@item.TuaDe</a></h4>
                                    <div class="save-product">
                                        <a href="@item.Link"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- end of row-->
            </div>
        </div>
        <!-- end of row-->
    </div>

    <!-- end of container -->
</section>
