@{
    ViewBag.Title = "Home Page";
}

@Html.Action("Slider")

<section id="intro-title">
    <div class="container">
        <div class="title center">
            <!-- <h4 class="upper">We are driven by creative.</h4> -->
            <h1>CÁC GIẢI PHÁP CÔNG NGHỆ CỦA NEWHOUSE</h1>
            <hr>
        </div>
        <!-- end of section content-->
    </div>
    <!-- end of container-->
</section>
@Html.Action("GiaiPhap")
@Html.Action("CongNghe")
@Html.Action("SanPham")
@Html.Action("TinhNang")
@Html.Action("DuAn")

<section id="counter" class="dark">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="counter">
                        <div class="counter-icon">
                            <i class="icon-presentation"></i>
                        </div>
                        <div class="counter-content">
                            <h5><span data-count="212" class="number-count">212</span></h5><span>Orders</span>
                        </div>
                    </div>
                    <!-- end of counter-->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter">
                        <div class="counter-icon">
                            <i class="icon-beaker"></i>
                        </div>
                        <div class="counter-content">
                            <h5> <span data-count="9060" class="number-count">9060</span></h5><span>Ratings</span>
                        </div>
                    </div>
                    <!-- end of counter-->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter">
                        <div class="counter-icon">
                            <i class="icon-hourglass"></i>
                        </div>
                        <div class="counter-content">
                            <h5><span data-count="10750" class="number-count">10750</span></h5><span>Reviews</span>
                        </div>
                    </div>
                    <!-- end of counter-->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter">
                        <div class="counter-icon">
                            <i class="icon-chat"></i>
                        </div>
                        <div class="counter-content">
                            <h5><span data-count="7" class="number-count">7</span></h5><span>Awards</span>
                        </div>
                    </div>
                    <!-- end of counter-->
                </div>
            </div>
            <!-- end of row-->
        </div>
        <!-- end of section content-->
    </div>
    <!-- end of container-->
</section>

@Html.Action("TinTuc")
@Html.Action("KienTrucSu")
@Html.Action("DoiTac")
@Html.Action("LienHe")

