@{
    ViewBag.Title = "Home Page";
}

@Html.Action("Slider")

<section id="intro-title">
    <div class="container">
        <div class="title center">
            <!-- <h4 class="upper">We are driven by creative.</h4> -->
            <h1>CÁC GIẢI PHÁP CÔNG NGHỆ CỦA NEWHOUSE</h1>
            <hr>
        </div>
        <!-- end of section content-->
    </div>
    <!-- end of container-->
</section>

<section id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-4 img-side img-left">
                <div class="img-holder">
                    <img src="images/about/01-CellSystem.jpg" alt="" class="bg-img">
                </div>
            </div>
            <!-- end of side background image-->
        </div>
        <!-- end of row-->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-7 col-sm-8 col-sm-offset-4">
                <ul role="tablist" class="nav nav-tabs outline">
                    <li role="presentation" class="active">
                        <a href="#method-tab" role="tab" data-toggle="tab">
                            <b>
                                Cấu Trúc
                                Sandwich
                            </b>
                        </a>
                    </li>
                </ul>
                <!-- end of nav tabs-->
                <div class="tab-content">
                    <div id="method-tab" role="tabpanel" class="tab-pane fade in active">
                        <p class="alt-paragraph mb-15">
                            Thay thế kết cấu truyền thống bê tông cho sàn và tường dựa trên kết cấu
                            khung bằng phương pháp kết hợp các lớp chịu lực, cấu tạo, xen kẽ tạo ra những tấm sàn tường chịu lực cao
                            được áp dụng từ lâu trong thiết kế kết cấu hiện đại.<br>
                            Sự sáng tạo đặc biệt của New House System khi thay hệ keo tổng hợp tại nhà máy của tấm sandwich panel
                            truyền thống bằng hệ nối smart lock, cho phép xấy dựng những tấm sàn - tường chịu lực vượt nhịp lớn lên
                            đến 9m không cần khung có thể lắp đặt dễ dàng với 2 công nhân khỏe mạnh.<br>
                            Ngoài ra áp dụng công nghệ gfc composite cho pháp các lớp chịu lực thay thế cho gỗ và thép trong môi
                            trường vùng biển giải quyết bài toán khó cho hệ sandwich truyền thống đang gặp phải không ứng dụng
                            được.<br>
                            Multilayer structure solution developed and certified in 2016.
                        </p>
                    </div>
                </div>
                <!-- end of tab content-->
            </div>
        </div>
    </div>
</section>
<section id="about2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-4 img-side img-left">
                <div class="img-holder">
                    <img src="images/about/02-CellSystem.jpg" alt="" class="bg-img">
                </div>
            </div>
            <!-- end of side background image-->
        </div>
        <!-- end of row-->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-7 col-sm-8 col-sm-offset-4">
                <ul role="tablist" class="nav nav-tabs outline">
                    <li role="presentation" class="active">
                        <a href="#method-tab" role="tab" data-toggle="tab">
                            <b>
                                Hệ Hoàn Thiện
                                Tế Bào
                            </b>
                        </a>
                    </li>
                </ul>
                <!-- end of nav tabs-->
                <div class="tab-content">
                    <div id="method-tab" role="tabpanel" class="tab-pane fade in active">
                        <p class="alt-paragraph mb-15">
                            Tất cả các hoàn thiện truyền thống thường được thực hiện tại công trường
                            với nhiều rủi ro chất lượng gây ra sự tốn kém thời gian và không dùng lại được khi thay thế cho các hệ
                            sàn và gạch.<br>
                            New house system phát triển triệt để các lớp hoàn thiện truyền thống gắn kết với lớp kết cấu qua hệ
                            clips và modul era các tấm độc lập có khối lượng nhỏ hơn 10kg/cell cho phép công tác hoàn thiện chính
                            xác như đo cắt và thay thế đễ dàng trong trường hợp hư hỏng và đổi mới.<br>
                            Hệ cell system của new house gần như ứng dụng cho tất cả các lớp hoàn thiện toàn diện như: đá gỗ, kim
                            loại, một số hệ gạch, kính các loại. Thậm chí có cả green roof và green wall.<br>
                            Cho phép hoàn thiện trên bất kì bề mặt nào bằng cách chia nhỏ các bề mặt từ các hệ đơn nhịp đơn giản đến
                            hệ paramatric phức tạp hơn.
                        </p>
                    </div>
                </div>
                <!-- end of tab content-->
            </div>
        </div>
    </div>
</section>
<section id="about3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-4 img-side img-left">
                <div class="img-holder">
                    <img src="images/about/03-CellSystem.jpg" alt="" class="bg-img">
                </div>
            </div>
            <!-- end of side background image-->
        </div>
        <!-- end of row-->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-7 col-sm-8 col-sm-offset-4">
                <ul role="tablist" class="nav nav-tabs outline">
                    <li role="presentation" class="active">
                        <a href="#method-tab" role="tab" data-toggle="tab">
                            <b>
                                Cấu Tạo Đa
                                Lớp
                            </b>
                        </a>
                    </li>
                </ul>
                <!-- end of nav tabs-->
                <div class="tab-content">
                    <div id="method-tab" role="tabpanel" class="tab-pane fade in active">
                        <p class="alt-paragraph mb-15">
                            Một truyệt tác sáng tạo của new house là tác tất cả các lớp: kết cấu - cấu
                            tạo - chống thấm - hoàn thiện ra nhiều lớp khác nhau hoạt động độc lập hoặc kết hợp chịu lực cho phép dễ
                            dàng thay thế, dễ dàng lắp đặt và đến 100% được sản xuất sẵn tại nhà máy với chất lượng ổn định và kiểm
                            soát.<br>
                            Multilayer method cho pháp xấy dựng bất kì 1 loại nhà nào theo thiết kế hiện đại hay cổ điểm tuy nhiên
                            với thiết kế mới và tiêu chí mới, chúng tôi ưu tiên phát triển các thiết kế hiện đại với khuynh hướng
                            tối giản tạo nên sự thanh lịch và ấn tượng.<br>
                            Cho phép các lớp cấu tạo hoàn toàn độc lập không kết dính bang keo, tạo sự thay thế bảo trì dễ dàng.
                        </p>
                    </div>
                </div>
                <!-- end of tab content-->
            </div>
        </div>
    </div>
</section>

<section class="dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-4 img-side img-right">
                <div class="img-holder">
                    <img src="images/bg/30.jpg" alt="" class="bg-img">
                </div>
            </div>
            <!-- end of side background image-->
        </div>
        <!-- end of row-->
    </div>
    <!-- end of container-->
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-7 txt-md-right">
                <div class="section-content">
                    <div class="skill">
                        <span class="skill-name">Design</span><span class="skill-perc">90%</span>
                        <div class="progress">
                            <div role="progressbar" data-progress="90" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="skill">
                        <span class="skill-name">Safety</span><span class="skill-perc">95%</span>
                        <div class="progress">
                            <div role="progressbar" data-progress="80" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="skill">
                        <span class="skill-name">Vision</span><span class="skill-perc">85%</span>
                        <div class="progress">
                            <div role="progressbar" data-progress="85" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="skill">
                        <span class="skill-name">Satisfaction</span><span class="skill-perc">95%</span>
                        <div class="progress">
                            <div role="progressbar" data-progress="95" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="skill">
                        <span class="skill-name">Strategy</span><span class="skill-perc">75%</span>
                        <div class="progress">
                            <div role="progressbar" data-progress="75" class="progress-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of container-->
</section>

<section id="expertise" class="dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-4 img-side img-left">
                <div class="img-holder">
                    <img src="images/bg/29.jpg" alt="" class="bg-img">
                </div>
            </div>
            <!-- end of side background image-->
        </div>
        <!-- end of row-->
    </div>
    <!-- end of container-->
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-7 col-sm-8 col-sm-offset-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="icon-box-basic">
                            <i class="icon-search"></i>
                            <h4>Planning</h4>
                            <p>
                                Lorem ipsum dolor sit amet, ete elit consectetur adipisicing. Omnis quae, ipsam impedit eius, vero.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="icon-box-basic">
                            <i class="icon-tools"></i>
                            <h4>Design</h4>
                            <p>
                                Lorem ipsum dolor sit amet, ete elit consectetur adipisicing. Omnis quae, ipsam impedit eius, vero.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="icon-box-basic">
                            <i class="icon-trophy"></i>
                            <h4>Build</h4>
                            <p>
                                Lorem ipsum dolor sit amet, ete elit consectetur adipisicing. Omnis quae, ipsam impedit eius, vero.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of row-->
    </div>
    <!-- end of container-->
</section>

<section id="intro">
    <div class="container">
        <div class="title center">
            <!-- <h4 class="upper">We are driven by creative.</h4> -->
            <h5>ESSENTIAL TO LAYOUT</h5>
            <h5>TRỌNG LƯỢNG NHẸ ĐỂ DỰNG LÊN</h5>
            <h5>90% ĐƯỢC LÀM TẠI XƯỞNG</h5>
            <h5>4 NGƯỜI CÓ THỂ XÂY DỰNG TRONG 3 NGÀY</h5>
            <h5>TÁI SỬ DỤNG 100%</h5>
            <hr>
        </div>

        <!-- end of section content-->
    </div>
    <!-- end of container-->
</section>

<section id="4type">
    <div class="container">
        <div class="title left">
            <h2>Sản Phẩm</h2>
            <hr>
            <p>
                Chúng tôi đang phát triển 4 hệ nhà tiêu chuẩn bao gồm: The LOG, The KARO, The SLAB và The DOME. Đồng thời,
                Chúng tôi cũng là đơn vị duy nhất thực hiện các mẫu thử ở tỉ lệ thực tế 1:1. Không chỉ kiếm tra về sự tiện
                dụng của không gian kiến trúc, các mẫu thử này còn giúp chúng tôi kiểm nghiệm tính ổn định, mức độ bền vững
                tối thiểu trong các điều kiện cực kì khắc nghiệt. Tất cả các mẫu thử đều ổn định sau hơn hai năm với những
                điều kiện tự nhiên như mưa lớn, gió mạnh hoặc nắng nóng. Các nguyên vật liệu sử dụng cho các mẫu thử chỉ là
                vật liệu tận dụng có chất lượng kém, so với vật liệu chất lượng thực đã được xử lí và sản xuất bởi các đơn vị
                chuyên nghiệp chỉ bằng khoảng 20%. CÁC THIẾT KẾ GIỚI HẠN CHO MẪU THỬ. cho phép nhà đầu tư ấn định các mức độ
                đầu tư và thời gian sản phẩm.
            </p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="shop-product">
                    <div class="product-thumb">
                        <a href="#">
                            <img src="images/4type/1.jpg" alt="">
                        </a>
                        <div class="product-overlay">
                            <a href="#" class="btn btn-color-out btn-sm">Xem tiếp</a>
                        </div>
                    </div>
                    <div class="product-info">
                        <h4 class="upper"><a href="#">The Log</a></h4>
                        <!-- <div class="save-product"><a href="#"><i class="icon-heart"></i></a>
                          </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="shop-product">
                    <div class="product-thumb">
                        <a href="#">
                            <img src="images/4type/2.jpg" alt="">
                        </a>
                        <div class="product-overlay">
                            <a href="#" class="btn btn-color-out btn-sm">Xem tiếp</a>
                        </div>
                    </div>
                    <div class="product-info">
                        <h4 class="upper"><a href="#">The Slab</a></h4>
                        <div class="save-product">
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="shop-product">
                    <div class="product-thumb">
                        <a href="#">
                            <img src="images/4type/3.jpg" alt="">
                        </a>
                        <div class="product-overlay">
                            <a href="#" class="btn btn-color-out btn-sm">Xem tiếp</a>
                        </div>
                    </div>
                    <div class="product-info">
                        <h4 class="upper"><a href="#">The Kolumn</a></h4>
                        <div class="save-product">
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="shop-product">
                    <div class="product-thumb">
                        <a href="#">
                            <img src="images/4type/4.jpg" alt="">
                        </a>
                        <div class="product-overlay">
                            <a href="#" class="btn btn-color-out btn-sm">Xem tiếp</a>
                        </div>
                    </div>
                    <div class="product-info">
                        <h4 class="upper"><a href="#">The Dome</a></h4>
                        <div class="save-product">
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of row-->
    </div>
    <!-- end of container-->
</section>

<section>
    <div class="container">
        <div class="title left">
            <h2>Tính Năng</h2>
            <hr>
            <p>
                Là một trong 4 loại nhà được phát triển bởi công ty New House, điểm khác biệt của The Log so với phần còn
                lại(the Slab, the Kolumn, the Dome) là cấu trúc phát triển từ phương pháp xếp chồng gỗ lên nhau để tạo thành
                tường và sàn. Dưới đây sẽ cho bạn một cái nhìn tốt hơn về sản phẩm The Log dòng Economics.
            </p>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="icon-box-basic">
                        <i class="icon-layers"></i>
                        <h4>MỚI MẺ</h4>
                        <p>
                            Là sự kết hợp giữa gỗ, kim loại với những thiết kế mới, độc đáo, áp dụng những tiến bộ mới nhất trong
                            công nghệ xây dựng nhà ở.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="icon-box-basic">
                        <i class="icon-lock"></i>
                        <h4>LẮP ĐẶT NHANH CHÓNG</h4>
                        <p>
                            Một ngôi nhà hoàn chỉnh được thực hiện bởi chúng tôi chỉ mất 30 ngày để chuẩn bị nguyên vật liệu và 7
                            ngày để cài đặt
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="icon-box-basic">
                        <i class="icon-trophy"></i>
                        <h4>THIẾT KẾ CAO CẤP</h4>
                        <p>
                            Tất cả các ngôi nhà được thực hiện bởi New House Solution được thiết kế bởi những kiến trúc sư tốt nhất
                            của chúng tôi.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="icon-box-basic">
                        <i class="icon-scissors"></i>
                        <h4>CHẤT LƯỢNG CAO</h4>
                        <p>90% vật liệu được sản xuất tại nhà máy, đảm báo chất lượng ở mức cao nhất.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="icon-box-basic">
                        <i class="icon-mobile"></i>
                        <h4>MỨC GIÁ ĐẶT BIỆT</h4>
                        <p>Chúng tôi mang đến cho bạn một chiếc Rollroyce với giá của một chiếc BMW.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="icon-box-basic">
                        <i class="icon-hotairballoon"></i>
                        <h4>BỀN VỮNG</h4>
                        <p>
                            Nguyên liệu chính của chúng tôi là gỗ thông ngoài trời được sản xuất ở châu Âu và New Zealand. Kết hợp
                            với những vật liệu và các giải pháp khác, chúng tôi đã tạo ra những ngôi nhà mà có thể tồn tại lâu hơn
                        </p>
                    </div>
                </div>


            </div>
            <!-- end of row-->
        </div>
        <!-- end of section content-->
    </div>
    <!-- end of container-->
</section>

@Html.Action("DuAn")

<section id="counter" class="dark">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="counter">
                        <div class="counter-icon">
                            <i class="icon-presentation"></i>
                        </div>
                        <div class="counter-content">
                            <h5><span data-count="212" class="number-count">212</span></h5><span>Orders</span>
                        </div>
                    </div>
                    <!-- end of counter-->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter">
                        <div class="counter-icon">
                            <i class="icon-beaker"></i>
                        </div>
                        <div class="counter-content">
                            <h5> <span data-count="9060" class="number-count">9060</span></h5><span>Ratings</span>
                        </div>
                    </div>
                    <!-- end of counter-->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter">
                        <div class="counter-icon">
                            <i class="icon-hourglass"></i>
                        </div>
                        <div class="counter-content">
                            <h5><span data-count="10750" class="number-count">10750</span></h5><span>Reviews</span>
                        </div>
                    </div>
                    <!-- end of counter-->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter">
                        <div class="counter-icon">
                            <i class="icon-chat"></i>
                        </div>
                        <div class="counter-content">
                            <h5><span data-count="7" class="number-count">7</span></h5><span>Awards</span>
                        </div>
                    </div>
                    <!-- end of counter-->
                </div>
            </div>
            <!-- end of row-->
        </div>
        <!-- end of section content-->
    </div>
    <!-- end of container-->
</section>

@Html.Action("TinTuc")
@Html.Action("KienTrucSu")
@Html.Action("DoiTac")

<section>
    <div class="container">
        <div class="title center">
            <h4 class="upper">Some of the best.</h4>
            <h3>Our Clients<span class="red-dot"></span></h3>
            <hr>
        </div>
        <div class="section-content">
            <div class="boxes clients">
                <div class="row">
                    <div class="col-sm-4 col-xs-6 border-right border-bottom">
                        <img src="images/clients/1.png" alt="" data-animated="true" class="client-image">
                    </div>
                    <div class="col-sm-4 col-xs-6 border-right border-bottom">
                        <img src="images/clients/2.png" alt="" data-animated="true" data-delay="500" class="client-image">
                    </div>
                    <div class="col-sm-4 col-xs-6 border-bottom">
                        <img src="images/clients/3.png" alt="" data-animated="true" data-delay="1000" class="client-image">
                    </div>
                    <div class="col-sm-4 col-xs-6 border-right">
                        <img src="images/clients/4.png" alt="" data-animated="true" class="client-image">
                    </div>
                    <div class="col-sm-4 col-xs-6 border-right">
                        <img src="images/clients/5.png" alt="" data-animated="true" data-delay="500" class="client-image">
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <img src="images/clients/6.png" alt="" data-animated="true" data-delay="1000" class="client-image">
                    </div>
                </div>
                <!-- end of row-->
            </div>
        </div>
        <!-- end of section content-->
    </div>
    <!-- end of container-->
</section>

@Html.Action("LienHe")

